/*=============== BASE ===============*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
button{
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--text-color);
}

ul{
	list-style: none;
}