/*=============== DROPDOWN ===============*/
.container{
   height: 100vh;
   display: grid;
   place-items: center;
   background: var(--body-color);
}

.dropdown{
   position: relative;
   width: max-content;
   transform: translateY(-5rem);

   &__button,
   &__item{
      display: flex;
      align-items: center;
      column-gap: .5rem;
   }
   &__button{
      border: none;
      outline: none;
      background-color: var(--container-color);
      padding: 1.25rem;
      border-radius: .75rem;
      cursor: pointer;
   }
   &__icon,
   &__icons{
      font-size: 1.25rem;
      color: var(--first-color);
   }
   &__name{
      font-weight: 500;
   }
   &__icons{
      width: 24px;
      height: 24px;
      display: grid;
      place-items: center;
   }
   &__arrow,
   &__close{
      position: absolute;
      transition: opacity .1s, transform .4s;
   }
   &__close{
      opacity: 0;
   }
   &__menu{
      background-color: var(--container-color);
      padding: 1rem 1.25rem;
      border-radius: .75rem;
      display: grid;
      row-gap: 1.5rem;
      position: absolute;
      width: 100%;
      left: 0;
      top: 4.5rem;
      transform: scale(.1);
      transform-origin: 10rem -2rem;
      pointer-events: none;
      transition: opacity .4s, transform .4s;
      opacity: 0;
   }
   &__item{
      cursor: pointer;
      transition: color .3s;

      &:hover{
         color: var(--first-color);
      }
   }
}

/* Rotate & hide icon */
.show-dropdown .dropdown__close{
   opacity: 1;
   transform: rotate(-180deg);
}

.show-dropdown .dropdown__arrow{
   opacity: 0;
   transform: rotate(-180deg);
}

/* Show dropdown menu */
.show-dropdown .dropdown__menu{
   opacity: 1;
   transform: scale(1);
   pointer-events: initial;
}